<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="keywords" content="" />
	<meta name="description" content="wzh" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>多源告警信息的关联分析系统</title>
	<link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/home.css"/>
</head>
<body>
	<div class='basetop'>
		<span class="current">多源告警信息关联分析系统</span>
		<div class='menu'>
		<nav>
			<a href="{%url 'demo.index.IndexHd'%}">首页&nbsp</a>
			<a href="{%url 'Alg.views.warnLog'%}">告警日志&nbsp</a>
			<a href="{%url 'Alg.views.connectHd'%}">关联分析&nbsp</a>
			<a href="{%url 'Alg.views.safeManager'%}">安全管理&nbsp</a>
			<a href="{%url 'Log.views.historyLog'%}">历史记录</a>
		</nav>
	</div>
	<div class="main">
		{%block t_body%}{%endblock%}
	</div>
	
	</div>
	
</body>
</html>
