{%extends 'base.html'%}

{%block t_body%}
{% load static %}{% get_static_prefix as STATIC_URL %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/uploadify.css">

<div class='bg-set1'>
	<h3>攻击序列</h3>
	<div class='loglist'>
		<div class="log-table">
		    <table>
			    <tr>
				    	<th>文件名</th>
				    	<th>攻击序列</th>
				    	<th>支持度</th>
				    	<th>攻击名</th>
				    	<th>时间</th>
				    	<th class="doSth">操作</th>
			    </tr>
		       
		    </table>
		</div>
	</div>
</div>
<div class='handle'>
	<h3>攻击类型</h3>
	<div class='loglist'>
	<a href="" class="add">添加</a>
		<div class="log-table">
		    <table>
			    <tr>
				    	<th>攻击类型</th>
				    	<th class="doSth">操作</th>
			    </tr>
		    </table>

		</div>
	</div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/swfobject.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uploadify.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/chart/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/chart/modules/exporting.js"></script>
<script>
	$.ajax({
		url:"/sequence",
		type : "GET",
		success : function(data){
			$.each(data.data,function(i,con){
				var str = $('<tr><td>'+data.data[i].name+'</td><td>'+data.data[i].attack_sequence+'</td><td>'+data.data[i].support+'</td><td>'+data.data[i].attack_name+'</td><td>'+data.data[i].time+'</td><td><a>修改</a><a>删除</a></td></tr>');
				$(".bg-set1 table").append(str);
			})
		},
		error : function(){
			alert("network error!")
		}
	});

	$.ajax({
		url:"/events",
		type : "GET",
		success : function(data){
			$.each(data.data,function(i,con){
				var str = $('<tr><td>'+data.data[i].name+'</td><td><a>修改</a><a>删除</a></td></tr>');
				$(".handle table").append(str);
			})
		},
		error : function(){
			alert("network error!")
		}
	})
</script>
{%endblock%}

