{%extends 'base.html'%}

{%block t_body%}
{% load static %}{% get_static_prefix as STATIC_URL %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/uploadify.css">

<div class='bg-set1'>
	<h3>攻击序列</h3>
	<div class='loglist'>
		<div class="log-table1">
			<table>
				<tr>
					<th>文件名</th>
					<th>攻击序列</th>
					<th>支持度</th>
					<th>攻击名</th>
					<th>时间</th>
					<th class="doSth">操作</th>
				</tr>
			</table>
			<a style="display:none" href="javascript:void(0);" id="prev1">上一页</a>	
			<a href="javascript:void(0);" id="next1">下一页</a>
		</div>
	</div>
</div>

<div class='handle'>
	<h3>攻击类型</h3>
	<div class='loglist'>
		<div class="log-table">
			<table>
				<tr>
					<th>攻击类型</th>
					<th class="doSth">操作</th>
				</tr>
			</table>
			<a style="display:none" href="javascript:void(0);" id="prev">上一页</a>	
			<a style="display:none" href="javascript:void(0);" id="next">下一页</a>
		</div>
	</div>
</div>
<div class="dialog">
	
</div>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/swfobject.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uploadify.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/chart/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/chart/modules/exporting.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cookie.js"></script>
<script>

	var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

	$.ajax({
		url:"/sequence",
		type : "GET",
		success : function(data){
             var page = Math.ceil((data.data.length/9));
 			var countPage = 1;
 			if(page == countPage){
 				$("#prev1").hide();
 				$("#next1").hide();
 			} else {
 				$("#next1").show();
 			}
 			var l = data.data.length;
 			var d = [];
 			$.each(data.data,function(i,con){
 				d.push(data.data[i]);
 			});
 			function show1(){
 				$(".log-table1 table").empty();
 				var tr = $('<tr><th>文件名</th><th>攻击序列</th><th>支持度</th><th>攻击名</th><th>时间</th><th class="doSth">操作</th></tr>');
 				$(".log-table1 table").append(tr);
 				if(countPage == 1){
 					for(var i=0;i<9;i++){
 						var str = $('<tr><td>'+data.data[i].name+'</td><td>'+data.data[i].attack_sequence+'</td><td>'+data.data[i].support+'</td><td>'+data.data[i].attack_name+'</td><td>'+data.data[i].time+'</td><td><a dataid="'+data.data[i].id+'" class="change1">修改</a><a dataid="'+data.data[i].id+'" class="delete1">删除</a></td></tr>');
 						$(".log-table1 table").append(str);
 					}
 				}else{
 					for(var i=0;i<10;i++){
 					//alert(i);
 					$("#prev1").show();
 					var now = (countPage-1)*9+i+1;
 					var str = $('<tr><td>'+data.data[now].name+'</td><td>'+data.data[now].attack_sequence+'</td><td>'+data.data[now].support+'</td><td>'+data.data[now].attack_name+'</td><td>'+data.data[now].time+'</td><td><a dataid="'+data.data[now].id+'" class="change1">修改</a><a dataid="'+data.data[i].id+'" class="delete1">删除</a></td></tr>');
 					$(".log-table1 table").append(str);
 				}
 			}


 			$(".change1").click(function(){
 				$(".dialog").empty();
 				var str = $('<span class="cloasedia">X</span><input type="text" /><span class="diaok">OK</span>');
 				$(".dialog").append(str);
 				$(".dialog").css("width",600);
 				$(".cloasedia").show();
 				var id= $(this).attr("dataid");
 				
 				$(".diaok").click(function(){
 					var con = $(".dialog input").val();
 					//alert(id+"::"+con)
 					$.ajax({
 						url : "/sequence/" + id,
 						type : "put",
 						data : {
 							name : con
 						},
 						success : function(data){
 							if(data.status == 0){
 								window.location.reload()
 							}
 						},
 						error : function(){

 						}
 					})
 				})

 				$(".cloasedia").click(function(){
 					$(".dialog").empty()
 				})
 				
 			})

 			$(".delete1").click(function(){
 				var id= $(this).attr("dataid");
 				$.ajax({
 					url : "/sequence/" + id,
 					type : "delete",
 					success  : function(data){
 						if(data.status == 0){
 							window.location.reload()
 						} else {
 							alert("error")
 						}
 					}
 				})
 				
 				
 			})
 		}
 		

 		$("#prev1").click(function(){
 			countPage--;
 			if(countPage != 1){
 				show1();
 				$("#next1").show();
 				$("#next1").show();
 			}else if(countPage == 1){
 				show1();
 				$("#next1").show();
 				$("#prev1").hide();
 			} else if(countPage !== page){
 				show();
 				$("#next1").show();
 				$("#next1").show();
 			}
 		})

 		$("#next1").click(function(){
 			countPage++;
 			if(countPage == page){
 				$("#next1").hide();
 				$("#prev1").show();
 				show1();
 			}else{
 				show1();
 				$("#prev1").show();
 				console.log(countPage);
 			}
 		})
 			show1();
		},
		error : function(){
			alert("network error!")
		}
	});

	$.ajax({
		url:"/events",
		type : "GET",
		success : function(data){
			var page = Math.ceil((data.data.length/9));
			var countPage = 1;
			if(page == countPage){
 				$("#prev").hide();
 				$("#next").hide();
 			} else {
 				$("#next").show();
 			}
			var l = data.data.length;
			var d = [];
			$.each(data.data,function(i,con){
				d.push(data.data[i]);
			});
			function show(){
				$(".log-table table").empty();
				var tr = $('<tr><th>攻击类型</th><th class="doSth">操作</th></tr>');
				$(".log-table table").append(tr);
				if(countPage < page){
					for(var i=0;i<9;i++){
						var str = $('<tr><td>'+data.data[i].name+'</td><td><a dataid="'+data.data[i].id+'" class="change2">修改</a><a dataid="'+data.data[i].id+'" class="delete2">删除</a></td></tr>');
						$(".handle table").append(str);
					}
				}else{
					for(var i=0;i<9;i++){
					$("#prev").show();
					var now = (countPage-1)*9+i+1;
					var str = $('<tr><td>'+data.data[now].name+'</td><td><a dataid="'+data.data[i].id+'" class="change2">修改</a><a dataid="'+data.data[i].id+'" class="delete2">删除</a></td></tr>');
					$(".handle table").append(str);
				}
			}

			$(".change2").click(function(){
				$(".dialog").empty();
				var str = $('<span class="cloasedia">X</span><input type="text" /><span class="diaok">OK</span>');
				$(".dialog").append(str);
				$(".dialog").css("width",600)
				var id= $(this).attr("dataid");
				
				$(".diaok").click(function(){
					var con = $(".dialog input").val();
					//alert(id+"::"+con)
					$.ajax({
						url : "/events/" + id,
						type : "put",
						data : {
							name : con
						},
						success : function(data){
							if(data.status == 0){
								window.location.reload()
							}
						},
						error : function(){

						}
					})
				})

				$(".cloasedia").click(function(){
 					$(".dialog").empty()
 				})
				
			})

			$(".delete2").click(function(){
				var id= $(this).attr("dataid");
				$.ajax({
					url : "/events/" + id,
					type : "delete",
					success  : function(data){
						if(data.status == 0){
							window.location.reload()
						} else {
							alert("error")
						}
					}
				})
				
				
			})


		}
		

		$("#prev").click(function(){
			countPage--;
			if(countPage != 1){
				show();
				$("#next").show();
				$("#next").show();
			}else if(countPage == 1){
				show();
				$("#next").show();
				$("#prev").hide();
			} else if(countPage !== page){
				show();
				$("#next").show();
				$("#next").show();
			}
		})

		$("#next").click(function(){
			countPage++;
			if(countPage == page){
				$("#next").hide();
				$("#prev").show();
				show();
			}else{
				show();
				$("#prev").show();
			}
		})
		show();
	},
	error : function(){
		alert("network error!")
	}
})
</script>
{%endblock%}

