{%extends 'base.html'%}

{%block t_body%}
{% load static %}{% get_static_prefix as STATIC_URL %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/uploadify.css">
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/swfobject.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uploadify.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uploadify.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#file_upload').uploadify({
			'swf':'{{STATIC_URL}}/uploadify/uploadify.swf?var='+(new Date()).getTime(),
			'uploader':'{%url "Alg.views.uploadifyScript"%}',
			'auto':false,
			'multi':false,
			'buttonText':'请选择文件',
			'fileTypeExts':'*.pdf; *.gif; *.jpg; *.png; *.doc;*.docx',
			'removeCompleted':false,
			'fileSizeLimit':10240000,
			'fileTypeDesc':'支持文档格式',
			'onInit':function(){},
			'onError':function(event,ID,fileObj,errorObj){
				$('#id_span_msg').html("上传失败，错误码:"+errorObj.type+" "+errorObj.info);
			},
			'onUploadProgress':function(file,bytesUploaded,bytesTotal,totalBytesUploaded,totalBytesTotal){
				$('#progress').html('已上传 ' +totalBytesUploaded + ' 字节. ' + '共 ' +totalBytesTotal + ' 字节.');
			},
			'onUploadSuccess':function(file,data,response){
				if(response == true){
					$('#file_upload').uploadify('settings','removeCompleted','true');
				}
			},
			'onUploadError':function(file,errorCode,errorMsg,errorString){
				alert('文件 ' + file.name + '上传失败.' + ' 详细信息: ' + errorString);
			}

		});
	});
</script>

<div class='bg-set1'>
	<div class="demo-box">
		<input id="file_upload" type="file" name="Filedata">
		<a href="javascript:$('#file_upload').uploadify('upload','*')">Upload File</a>
		<div id="file_uploadQueue" class="uploadifyQueue"></div>
		<p><span id="id_span_msg"></span></p>
		<div id="progress"></div>
	</div>

</div>
{%endblock%}