@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	font-family: "Microsoft Yahei",arial,"Hiragino Sans GB",sans-serif;
	background: rgb(237,237,239);
	background-size: cover;
}

.basetop{
	height: 84px;
	min-width: 1200px;
	background: rgb(36,41,44);
}


.basetop span {
	cursor: pointer;
	font-size: 38px;
	color: rgb(153,153,153);
	display: inline-block;
	margin: 14px 0px 0px 125px;
}
.menu {
    /*给他设置一个宽度，不要让它超出*/
    width:600px;
    left: 78px;
    position: relative;
    top:-20px;
    font-size: 29px;
    margin: -18px 50px 0px 590px;
}
.main {
	/*main blcok*/
    margin-top: 30px;
}

.menu a {
	text-align: center;
	display: inline-block;
	color: rgb(153,153,153);
	text-decoration: none;
}
.demo-box {
    width: 300px;
  margin: auto;
  padding: 20px;
}
.menu a:hover {
	color: rgb(255,255,255);
}
#file_upload .uploadify-button-text {
    width: 120px;
    font-size: 20px;
    font-weight: normal;
    margin:auto;
}
#file_upload-queue .fileName,#file_upload-queue .data {
    display: block;
    width: 290px;
    margin: auto;
    font-weight: 100;
    font-size: 16px;
}
.menu a:active {
	color: rgb(255,255,255);
}

.current:hover {
	color: rgb(255,255,255);
}
.upload-now{
      display: block;
      width: 80px;
      height: 30px;
      font-size: 16px;
      background: #8db800;
      color: #fff;
      line-height: 30px;
      text-decoration: none;
      border-radius: 20px;
      text-align: center;
      margin-top: 40px;
      position: absolute;
      left: 50%;
      top: -18px;
}
.handle-now {
      display: block;
      width: 80px;
      height: 30px;
      font-size: 16px;
      background: #8db800;
      color: #fff;
      line-height: 30px;
      text-decoration: none;
      border-radius: 20px;
      text-align: center;
      margin-top: 40px;
}

.in-jiuyuan {
    display: inline-block;
    position: relative;

}
.chart-tip {
    text-align: center;
    color: #00640C;
    font-size: 16px;
    line-height: 34px;
}
