@charset "UTF-8";
/* CSS Document */

.bg-set1 ,.loglist, .tip ,
.handle , .chart , .show-guanlian{
    position: relative;
	width: 1000px;
	background: rgb(255,255,255);
	margin: 0 auto;
}
.loglist , .show-guanlian {
    margin: 30px auto;
    padding: 30px 0;
}
.loglist h3 {
    font-size: 24px;
    color: #888;
    margin-left: 30px;
}
.loglist table {
    width: 500px;
    margin: auto;
    border-collapse: collapse;
    border: none;
}

.loglist td, .loglist th {
    border: 1px solid #000;
    text-align: center;
}
.tip {
    display: none;
}
.tip p {
    text-align: center;
    padding: 10px 0;
}
.handle {
    margin: 30px auto;
    text-align: center;
}
.handle select,
.handle input,
.handle p {
    display: inline-block;
    margin: 20px 0;
}
.handle .handle-now {
    margin: auto;
    cursor: pointer;
}
.chart {
    display: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 30px auto;
    padding: 30px;
}

#chart-main {
    width: 800px;
    height: 400px;
    margin: 10px auto
}
.guanlian{
    margin-top: 20px; 
}

.guanlian-btn {
    cursor: pointer;
    background: #ccc;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color:green;
    margin: auto;
}
.show-guanlian {
    display: none;
      width: 1088px;
}
.show-guanlian td{
    border-right: 1px solid green;  
    border-bottom: 1px solid green
}